.sidebar {
  background-color: #292929;
  width: 5%;
  height: 92vh;
}

.sidebar__expand {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .sidebar__expand {
    width: 100% !important;
    display: block;
  }

  .sidebar {
    display: none;
  }
}

.sidebar__header {
  height: 8vh;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__header > div {
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
}

.header__pokeball__img {
  /* flex: 0.5; */
  width: 50px;
  height: 6vh;
}

.sidebar__body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__body div {
  display: flex;
  height: 5vh;
  /* background-color: aqua; */
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
